<div class="ui stackable grid" style="margin-bottom:.5em">
    <div class="eleven wide column"> <span class="ui teal ribbon label slider-label">热播影视</span>
        <div class='o-sliderContainer' id="pbSliderWrap0" style="margin-top:0;">
            <div class='o-slider' id='pbSlider0'>
                <div class="o-slider--item" style="cursor: pointer">
                    <img style="width:100%;margin-top:0px" id="index-pic" src="/statics/dimg04.c-ctrip.com/images/0105o120009408b2i957C.jpg" referrerPolicy="no-referrer">
                </div>
                <div class="o-slider--item">
                    <img style="width:100%" src="https://sf3-ttcdn-tos.pstatp.com/obj/game-files/8ecb73aec9c53d741ccb53cc9bdf5368" referrerPolicy="no-referrer">
                    <div class="o-slider-textWrap mobile hidden">
                        <a class="o-slider-subTitle" href="kehuan/20313.html" target="_blank">2021科幻动作《X特遣队：全员集结》HD720P&amp;HD1080P.特效英语中英双字</a>
                        <p class="o-slider-paragraph ui text nowrap">4.4GB HD720P + 11GB HD1080P 特效英语中英双字</p>
                    </div>
                </div>
                <div class="o-slider--item">
                    <img style="width:100%" src="/statics/sc02.alicdn.com/kf/U1a867759627c4bc4ae0a99d1b3b4da5cf.png" referrerPolicy="no-referrer">
                    <div class="o-slider-textWrap mobile hidden">
                        <a class="o-slider-subTitle" href="kehuan/19635.html" target="_blank">2021科幻动作《哥斯拉大战金刚》4K.国英双语.特效中英双字</a>
                        <p class="o-slider-paragraph ui text nowrap">2.9GB HD720P + 6.4GB HD1080P 英语中英双字</p>
                    </div>
                </div>
                <div class="o-slider--item">
                    <img style="width:100%" src="/statics/sc02.alicdn.com/kf/Uf11a5a515d4144639213c22e4552e3c84.jpg" referrerPolicy="no-referrer">
                    <div class="o-slider-textWrap mobile hidden">
                        <a class="o-slider-subTitle" href="zhanzheng/19003.html" target="_blank">2020国产战争《金刚川》HD1080P.国语中字</a>
                        <p class="o-slider-paragraph ui text nowrap">3.2GB HD1080P 国语中字</p>
                    </div>
                </div>
                <div class="o-slider--item">
                    <img style="width:100%" src="/statics/sc02.alicdn.com/kf/Uf75f732b7e07412ca422e91ad19dbf32J.jpg" referrerPolicy="no-referrer">
                    <div class="o-slider-textWrap mobile hidden">
                        <a class="o-slider-subTitle" href="zhanzheng/18729.html" target="_blank">2020历史战争《八佰》HD1080P.国语中字</a>
                        <p class="o-slider-paragraph ui text nowrap">8.4GB HD1080P 国语中字</p>
                    </div>
                </div>
                <div class="o-slider--item"> <img style="width:100%" src="/statics/sc02.alicdn.com/kf/Ub5118b048a564aa0911d5d4b5f5c9ab6g.jpg" referrerPolicy="no-referrer">
                    <div class="o-slider-textWrap mobile hidden">
                        <a class="o-slider-subTitle" href="kongbu/17794.html" target="_blank">2020印度恐怖剧集《起尸鬼》4集全.HD1080P.英语中字</a>
                        <p class="o-slider-paragraph ui text nowrap">4集全 HD1080P 英语中字 很高兴看到印度电影的发展。这个系列肯定会提高印度电影的幻想、恐怖和超现实主义的水平（机翻自国外网友评论）。</p>
                    </div>
                </div>
                <div class="o-slider--item"> <img style="width:100%" src="/statics/sc02.alicdn.com/kf/Ue47d6fc5c649489c9b8c58906bb8d84dU.jpg" referrerPolicy="no-referrer">
                    <div class="o-slider-textWrap mobile hidden">
                        <a class="o-slider-subTitle" href="jingsong/17781.html" target="_blank">2020墨西哥剧《复原行动》8集全.HD1080P.西班牙语中字</a>
                        <p class="o-slider-paragraph ui text nowrap">8集全 HD1080P 西班牙语中字</p>
                    </div>
                </div>
                <div class="o-slider--item">
                    <img style="width:100%" src="/statics/sc02.alicdn.com/kf/U4ec2ebe9699a4caaa62113211e71a929H.jpg" referrerPolicy="no-referrer">
                    <div class="o-slider-textWrap mobile hidden">
                        <a class="o-slider-subTitle" href="donghua/16970.html" target="_blank">2020动画冒险《刺猬索尼克》HD720P&amp;HD1080P.英语中英双字</a>
                        <p class="o-slider-paragraph ui text nowrap">2GB HD720P + 2.4GB HD1080P 英语中英双字</p>
                    </div>
                </div>
                <div class="o-slider--item">
                    <img style="width:100%" src="/statics/sc02.alicdn.com/kf/Uff48a689816340edb1e462c8ece10e8cd.jpg" referrerPolicy="no-referrer">
                    <div class="o-slider-textWrap mobile hidden">
                        <a class="o-slider-subTitle" href="zainan/16116.html" target="_blank">2019灾难剧情《中国机长》BD720P&amp;BD1080P.国语中字</a>
                        <p class="o-slider-paragraph ui text nowrap">1.8GB HD1080P + 2GB BD720P + 2.8GB BD1080P 国语中字</p>
                    </div>
                </div>
                <div class="o-slider--item">
                    <img style="width:100%" src="/statics/sc02.alicdn.com/kf/Uef16413b321244e4a99519450c8138d6A.jpg" referrerPolicy="no-referrer">
                    <div class="o-slider-textWrap mobile hidden">
                        <a class="o-slider-subTitle" href="kehuan/17049.html" target="_blank">2019科幻冒险《星球大战9：天行者崛起》BD720P&amp;BD1080P.国英双语中英双字</a>
                        <p class="o-slider-paragraph ui text nowrap">3.2GB BD720P + 7.39GB BD1080P 国英双语中英双字</p>
                    </div>
                </div>
                <div class="o-slider--item">
                    <img style="width:100%" src="/statics/sc02.alicdn.com/kf/U50a32afe33fe4ef8a727314dddc40f89Q.jpg" referrerPolicy="no-referrer">
                    <div class="o-slider-textWrap mobile hidden">
                        <a class="o-slider-subTitle" href="hanju/17043.html" target="_blank">2020韩剧《王国第二季》6集全.HD1080P.韩语中字</a>
                        <p class="o-slider-paragraph ui text nowrap">6集全 HD1080P 韩语中字</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="five wide column bd-comments-wrapper mobile-hide">
        <div class="ui comments bd-comments" id="comments">
            <div class="comment"> <a class="avatar"> <img src="/statics/images/steve.jpg"> </a>
                <div class="content"> <a class="author">chloewu168</a>
                    <div class="metadata">
                        <div class="date">2021-11-15 14:27:15</div>
                    </div>
                    <div class="ui text nowrap"> <a href="qiupian.html" target="_blank">跪求连续剧《一见倾心》，《现在正在分手中》，
                            拜托拜托了！</a> </div>
                </div>
            </div>
            <div class="comment"> <a class="avatar"> <img src="/statics/images/steve.jpg"> </a>
                <div class="content"> <a class="author">xuzhigao066</a>
                    <div class="metadata">
                        <div class="date">2021-11-15 14:07:15</div>
                    </div>
                    <div class="ui text nowrap"> <a href="donghua/18436.html" target="_blank">求站长更新，最新已经到24集啦！</a>
                    </div>
                </div>
            </div>
            <div class="comment"> <a class="avatar"> <img src="/statics/images/steve.jpg"> </a>
                <div class="content"> <a class="author">女巫aaaa</a>
                    <div class="metadata">
                        <div class="date">2021-11-15 13:54:15</div>
                    </div>
                    <div class="ui text nowrap"> <a href="qiupian.html" target="_blank">求嗜血法医第一到第八季，谢谢</a>
                    </div>
                </div>
            </div>
            <div class="comment"> <a class="avatar"> <img src="/statics/images/steve.jpg"> </a>
                <div class="content"> <a class="author">cuiliwen1</a>
                    <div class="metadata">
                        <div class="date">2021-11-15 12:33:15</div>
                    </div>
                    <div class="ui text nowrap"> <a href="qiupian.html" target="_blank">求：职场阴谋 谢谢站长</a>
                    </div>
                </div>
            </div>
            <div class="comment"> <a class="avatar"> <img src="/statics/images/steve.jpg"> </a>
                <div class="content"> <a class="author">Chung_Lin</a>
                    <div class="metadata">
                        <div class="date">2021-11-15 12:31:15</div>
                    </div>
                    <div class="ui text nowrap"> <a href="xiju/20781.html" target="_blank">我下的两个都是粤语版</a>
                    </div>
                </div>
            </div>
            <div class="comment"> <a class="avatar"> <img src="/statics/images/steve.jpg"> </a>
                <div class="content"> <a class="author">Ekonoel</a>
                    <div class="metadata">
                        <div class="date">2021-11-15 11:52:15</div>
                    </div>
                    <div class="ui text nowrap"> <a href="meiju/20760.html" target="_blank">第4集下不了</a>
                    </div>
                </div>
            </div>
            <div class="comment"> <a class="avatar"> <img src="/statics/images/steve.jpg"> </a>
                <div class="content"> <a class="author">小阿珂kei</a>
                    <div class="metadata">
                        <div class="date">2021-11-15 11:25:15</div>
                    </div>
                    <div class="ui text nowrap"> <a href="qiupian.html" target="_blank">求台剧 茶金</a> </div>
                </div>
            </div>
            <div class="comment"> <a class="avatar"> <img src="/statics/images/steve.jpg"> </a>
                <div class="content"> <a class="author">hikaki</a>
                    <div class="metadata">
                        <div class="date">2021-11-15 05:41:15</div>
                    </div>
                    <div class="ui text nowrap"> <a href="qiupian.html" target="_blank">生肉貌似还没有出.</a> </div>
                </div>
            </div>
            <div class="comment"> <a class="avatar"> <img src="/statics/images/steve.jpg"> </a>
                <div class="content"> <a class="author">hikaki</a>
                    <div class="metadata">
                        <div class="date">2021-11-15 05:38:15</div>
                    </div>
                    <div class="ui text nowrap"> <a href="qiupian.html" target="_blank">站长，求发布《一见倾心》，
                            拜托拜托了！</a> </div>
                </div>
            </div>
            <div class="comment"> <a class="avatar"> <img src="/statics/images/steve.jpg"> </a>
                <div class="content"> <a class="author">chloewu168</a>
                    <div class="metadata">
                        <div class="date">2021-11-15 02:34:15</div>
                    </div>
                    <div class="ui text nowrap"> <a href="qiupian.html" target="_blank">跪求连续剧《一见倾心》，《现在正在分手中》，
                            拜托拜托了！</a> </div>
                </div>
            </div>
            <div class="comment"> <a class="avatar"> <img src="/statics/images/steve.jpg"> </a>
                <div class="content"> <a class="author">yuexia829</a>
                    <div class="metadata">
                        <div class="date">2021-11-15 02:15:15</div>
                    </div>
                    <div class="ui text nowrap"> <a href="qiupian.html" target="_blank">有没毒液2的？</a> </div>
                </div>
            </div>
            <div class="comment"> <a class="avatar"> <img src="/statics/images/steve.jpg"> </a>
                <div class="content"> <a class="author">天才玩家郑龙彬</a>
                    <div class="metadata">
                        <div class="date">2021-11-15 01:17:15</div>
                    </div>
                    <div class="ui text nowrap"> <a href="qiupian.html" target="_blank">求中国合伙人</a> </div>
                </div>
            </div>
            <div class="comment"> <a class="avatar"> <img src="/statics/images/steve.jpg"> </a>
                <div class="content"> <a class="author">sweetchan</a>
                    <div class="metadata">
                        <div class="date">2021-11-15 00:33:15</div>
                    </div>
                    <div class="ui text nowrap"> <a href="guoju/20769.html" target="_blank">等全劇再看</a> </div>
                </div>
            </div>
            <div class="comment"> <a class="avatar"> <img src="/statics/images/steve.jpg"> </a>
                <div class="content"> <a class="author">a885341637</a>
                    <div class="metadata">
                        <div class="date">2021-11-15 00:01:15</div>
                    </div>
                    <div class="ui text nowrap"> <a href="qiupian.html" target="_blank">站长。能否重新上传下疑犯追踪</a>
                    </div>
                </div>
            </div>
            <div class="comment"> <a class="avatar"> <img src="/statics/images/steve.jpg"> </a>
                <div class="content"> <a class="author">nicocoisme</a>
                    <div class="metadata">
                        <div class="date">2021-11-14 23:44:14</div>
                    </div>
                    <div class="ui text nowrap"> <a href="play/20743-1.html" target="_blank">jeff好可爱</a>
                    </div>
                </div>
            </div>
            <div class="comment"> <a class="avatar"> <img src="/statics/images/steve.jpg"> </a>
                <div class="content"> <a class="author">kenlau1999</a>
                    <div class="metadata">
                        <div class="date">2021-11-14 23:19:14</div>
                    </div>
                    <div class="ui text nowrap"> <a href="kehuan/20765.html" target="_blank">看不到</a> </div>
                </div>
            </div>
            <div class="comment"> <a class="avatar"> <img src="/statics/images/steve.jpg"> </a>
                <div class="content"> <a class="author">女巫aaaa</a>
                    <div class="metadata">
                        <div class="date">2021-11-14 21:54:14</div>
                    </div>
                    <div class="ui text nowrap"> <a href="qiupian.html" target="_blank">求电影《警察局》，谢谢</a>
                    </div>
                </div>
            </div>
            <div class="comment"> <a class="avatar"> <img src="/statics/images/steve.jpg"> </a>
                <div class="content"> <a class="author">梦中的鲜鲜0</a>
                    <div class="metadata">
                        <div class="date">2021-11-14 21:34:14</div>
                    </div>
                    <div class="ui text nowrap"> <a href="qiupian.html" target="_blank">求新人类！男友会漏电</a>
                    </div>
                </div>
            </div>
            <div class="comment"> <a class="avatar"> <img src="/statics/images/steve.jpg"> </a>
                <div class="content"> <a class="author">xc9884</a>
                    <div class="metadata">
                        <div class="date">2021-11-14 21:24:14</div>
                    </div>
                    <div class="ui text nowrap"> <a href="guoju/20689.html" target="_blank">救命30片集无法下载完成</a>
                    </div>
                </div>
            </div>
            <div class="comment"> <a class="avatar"> <img src="/statics/images/steve.jpg"> </a>
                <div class="content"> <a class="author">hellsing</a>
                    <div class="metadata">
                        <div class="date">2021-11-14 20:53:14</div>
                    </div>
                    <div class="ui text nowrap"> <a href="qiupian.html" target="_blank">求嗜血法医第九季</a> </div>
                </div>
            </div>
        </div>
    </div>
</div>