<!DOCTYPE html>
<html lang="zh-cn">

<head>
    {{include file='head.html'}}
</head>

<body>
    {{include file='top.html'}}
    <div class="pusher ui body">
        <div class="ui container movie-info">
            <h2 class="text-center ui header">2020动画爱情《紫罗兰永恒花园 剧场版》BD720P&amp;BD1080P.日语中字</h2>
            <dl class="dl-inline">
                <dt>最后修订：</dt>
                <dd>2021年11月14日 下午10時03分49秒</dd>
                <dt>豆瓣评分：</dt>
                <dd>8.0</dd>
                <dt></dt>
                <dd class="pull-right mobile-hide"> 
                    <span class="ui teal large text"><i class="ui smile outline link icon"></i>0</span> 
                    <span class="ui teal large text"><i class="ui frown outline link icon"></i>0&nbsp;</span> 
                    <span class="ui teal large text"><i class="ui comment outline link icon" onclick="mScroll('#comment')"></i>0</span> 
                </dd>
            </dl>
            <section class="abstract mobile-hide">
                <p>
                    <strong>摘要：</strong>813MB BD720P + 1.6GB BD1080P 日语中字
                    哔嘀影视为您提供2020年日本由石川由依,浪川大辅,子安武人主演,石立太一导演的《紫罗兰永恒花园 剧场版》电影在线观看,《紫罗兰永恒花园 剧场版》磁力、电驴百度云离线链接,《紫罗兰永恒花园剧场版》高清mp4下载,希望您能喜欢！ 
                </p>
            </section> <br>
            <div class="info0"> 
                <img class="image thumb" src="https://p3-game-distribution.dailygn.com/obj/game-files/defd1c8c6f85cbf8bfcc278186011581" referrerPolicy="no-referrer">
                <ul>
                    <li><strong>别名：</strong>紫罗兰永恒花园 电影版 / Violet Evergarden: the Movie</li>
                    <li><strong>导演：</strong><a href="/director/石立太一">石立太一</a> </li>
                    <li><strong>编剧：</strong>
                        <a href="/scenarist/晓佳奈">晓佳奈</a>
                        <a href="/scenarist/吉田玲子">吉田玲子</a>
                    </li>
                    <li>
                        <strong>主演：</strong>
                        <a href="/performer/石川由依">石川由依</a>
                        <a href="/performer/浪川大辅">浪川大辅</a>
                        <a href="/performer/子安武人">子安武人</a>
                        <a href="/performer/木内秀信">木内秀信</a>
                        <a href="/performer/户松遥">户松遥</a>
                        <a href="/performer/内山昂辉">内山昂辉</a>
                        <a href="/performer/远藤绫">远藤绫</a>
                        <a href="/performer/茅原实里">茅原实里</a>
                        <a href="/performer/水桥香织">水桥香织</a>
                        <a href="/performer/佐藤利奈">佐藤利奈</a>
                        <a href="/performer/松元惠">松元惠</a>
                        <a href="/performer/诸星堇">诸星堇</a>
                        <a href="/performer/中田让治">中田让治</a>
                        <a href="/performer/间宫康弘">间宫康弘</a>
                        <a href="/performer/宫本充">宫本充</a>
                        <a href="/performer/筱原惠美">筱原惠美</a>
                        <a href="/performer/京田尚子">京田尚子</a>
                        <a href="/performer/引坂理绘">引坂理绘</a>
                        <a href="/performer/川澄绫子">川澄绫子</a>
                        <a href="/performer/远藤大智">远藤大智</a>
                        <a href="/performer/Mayuno Yasokawa">Mayuno Yasokawa</a>
                    </li>
                    <li>
                        <strong>类型：</strong>
                        <a target="_new" href="/s/juqing">剧情</a>
                        <a target="_new" href="/s/aiqing">爱情</a>
                        <a target="_new" href="/s/donghua">动画</a>
                        <a target="_new" href="/s/qihuan">奇幻</a>
                    </li>
                    <li><strong>制片国家/地区：</strong>[日本]</li>
                    <li><strong>语言：</strong>日语</li>
                    <li><strong>上映日期：</strong>2021(中国大陆) / 2020-09-18(日本) / 2021-10-13(美国网络)</li>
                    <li><strong>单集片长：</strong>140分钟</li>
                    <li rel="nofollow">
                        <strong>Imdb链接：</strong>
                        <a target="_new" href="https://www.imdb.com/title/tt8652818">tt8652818</a>
                    </li>
                    <li rel="nofollow">
                        <strong>豆瓣链接：</strong>
                        <a target="_new" href="https://movie.douban.com/subject/30179560/">30179560</a>
                    </li>
                </ul>
                <div class="ui tag labels"> </div>
                <div class="summary"> 
                    <b>剧情简介：</b> <br>　　
                    延续TV版的主线剧情，继续讲述从战场回来的少女薇尔莉特&middot;伊芙加登为了理解&ldquo;爱&rdquo;的含义而从事为有需要的人们写信传情的工作。薇妹一直挂念的少佐的下落大概率会在这部剧场版中讲述。
                </div>
            </div>
            <div class="info1">
                <h4 class="ui teal header dividing">
                    <div class="content">在线播放</div>
                </h4> <a class="ui secondary mini button" target="_blank" href="/play/20793-0.htm">BD720P（日语）</a><a
                    class="ui secondary mini button" target="_blank" href="/play/20793-1.htm">BD1080P（日语）</a>
                <div id="download-wrapper" style="display:block">
                    <h4 class="ui teal header dividing">
                        <div class="content">下载地址<small style="color:#db2828">（请优先使用种子文件下载）</small></div>
                    </h4>
                    <div class="ui middle aligned animated list" id="download-list"> 
                        <div class="item">
                            <div class="content">
                                <a class="parent" target="_blank" href="ed2k://|file|Violet.Evergarden.The.Movie.2020.BD1080P.X264.AAC.Japanese.CHS.Mp4er.mp4|1652828537|0835e7231d1787ab8b5ce0a5ceaa075b|/">
                                    <em class="left" style="color: red">1080P：</em>
                                    <em class="right ui text nowrap" title="ed2k://|file|Violet.Evergarden.The.Movie.2020.BD1080P.X264.AAC.Japanese.CHS.Mp4er.mp4|1652828537|0835e7231d1787ab8b5ce0a5ceaa075b|/">
                                        ed2k://|file|Violet.Evergarden.The.Movie.2020.BD1080P.X264.AAC.Japanese.CHS.Mp4er.mp4|1652828537|0835e7231d1787ab8b5ce0a5ceaa075b|/
                                    </em>
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                <a class="parent" target="_blank" href="ed2k://|file|Violet.Evergarden.The.Movie.2020.BD720P.X264.AAC.Japanese.CHS.Mp4er.mp4|852259439|4875621a0e324eccddad9b0a44be8063|/">
                                    <em class="left" style="color: red">720P：</em>
                                    <em class="right ui text nowrap" title="ed2k://|file|Violet.Evergarden.The.Movie.2020.BD720P.X264.AAC.Japanese.CHS.Mp4er.mp4|852259439|4875621a0e324eccddad9b0a44be8063|/">
                                        ed2k://|file|Violet.Evergarden.The.Movie.2020.BD720P.X264.AAC.Japanese.CHS.Mp4er.mp4|852259439|4875621a0e324eccddad9b0a44be8063|/
                                    </em>
                                </a>
                            </div>
                        </div>                        
                    </div>
                </div> <br>
                <div id="torrent-list">
                    <h4 class="ui teal header dividing">
                        <div class="content">种子列表<b style="color:#db2828">（种子无法打开就右键另存为重新下载，此问题不会修复）</b></div>
                    </h4>
                    <div class="ui middle aligned animated list">
                        <div class="item">
                            <div class="content"> 
                                <a href="/file/202111/073fb6b0d3fc8b84b2e451641a7bc8f3.torrent" class="header" download="紫罗兰永恒花园剧场版.Violet.Evergarden.The.Movie.2020.BD1080P.X264.AAC.Japanese.CHS.Mp4er.torrent">
                                    <i class="ui magnet red icon"></i>紫罗兰永恒花园剧场版.Violet.Evergarden.The.Movie.2020.BD1080P.X264.AAC.Japanese.CHS.Mp4er.torrent
                                    <b style="color:red">（打开错误就右键另存为重新下载，不要再问了）</b>
                                </a> 
                        </div>
                        </div>
                        <div class="item">
                            <div class="content"> 
                                <a href="/file/202111/867851bdc9960be401d161e2a246910b.torrent" class="header" download="紫罗兰永恒花园剧场版.Violet.Evergarden.The.Movie.2020.BD720P.X264.AAC.Japanese.CHS.Mp4er.torrent">
                                    <i class="ui magnet red icon"></i>紫罗兰永恒花园剧场版.Violet.Evergarden.The.Movie.2020.BD720P.X264.AAC.Japanese.CHS.Mp4er.torrent
                                    <b style="color:red">（打开错误就右键另存为重新下载，不要再问了）</b>
                                </a> 
                            </div>
                        </div>
                    </div>
                </div>
                <center style="color: #db2828">请勿使用QQ浏览器，已知此流氓软件会屏蔽本站的下载地址！</center>
                <div class="download-help"> 
                    <strong class="text-danger">下载帮助：</strong><br> 
                    <small>1. 请优先选择种子文件或者磁力链接下载</small> <br> 
                    <small>2. 迅雷屏蔽资源，请使用其它BT软件下载，如：比特彗星、rTorrent等</small> <br>
                    <small>3. 更新时间比较久远的资源，如果有电驴链接的话可选择使用电驴链接下载（用于百度或者115离线或者迅雷会员加速下载）</small> <br> 
                    <del><strong style="color: #db2828">4. 如果以上方法都无法下载，但有在线播放地址时，可选择点击进入在线播放页面，然后点击播放器右下角的“下载”按钮进行下载（可能会出现下载链接失效刷新页面重试即可）</strong></del>
                </div>
                <h4 class="ui teal header dividing">
                    <div class="content">相关推荐</div>
                </h4>
                <div class="related ui nine doubling cards">
                    <div class="card"> 
                        <a class="image" href="/donghua/20793.htm" title="紫罗兰永恒花园 剧场版" target="_blank">
                            <img src="https://p3-game-distribution.dailygn.com/obj/game-files/defd1c8c6f85cbf8bfcc278186011581" referrerPolicy="no-referrer"> 
                            <span class="rate">8.0 分</span> 
                        </a>
                        <div class="content"> <span class="header">紫罗兰永恒花园 剧场版</span> </div>
                    </div>
                    <div class="card"> 
                        <a class="image" href="/donghua/17121.htm" title="紫罗兰永恒花园" target="_blank"> 
                            <img src="https://sc02.alicdn.com/kf/Ubdcacb728b054697970931388f769e53x.jpg" referrerPolicy="no-referrer"> 
                            <span class="rate">8.8 分</span> <span class="ep">完结</span>
                        </a>
                        <div class="content"> <span class="header">紫罗兰永恒花园</span> </div>
                    </div>
                    <div class="card"> 
                        <a class="image" href="/donghua/16963.htm" title="紫罗兰永恒花园外传：永远与自动手记人偶" target="_blank"> 
                            <img src="https://sc02.alicdn.com/kf/Uec57ac4ba4214b63ad479b1463f89e47w.jpg" referrerPolicy="no-referrer"> 
                            <span class="rate">7.5 分</span> 
                        </a>
                        <div class="content"> <span class="header">紫罗兰永恒花园外传：永远与自动手记人偶</span> </div>
                    </div>
                    <div class="card"> 
                        <a class="image" href="/zhanzheng/15496.htm" title="幼女战记剧场版" target="_blank">
                            <img src="https://sc02.alicdn.com/kf/U2a4bc76c91b1443ab2d0386560b9a261X.jpg" referrerPolicy="no-referrer"> 
                            <span class="rate">7.5 分</span> 
                        </a>
                        <div class="content"> <span class="header">幼女战记剧场版</span> </div>
                    </div>
                    <div class="card"> 
                        <a class="image" href="/aiqing/13004.htm" title="中二病也要谈恋爱！剧场版" target="_blank">
                            <img src="https://sc02.alicdn.com/kf/Ud174a5cd0e214ef18ac61ecbc42cedc93.jpg" referrerPolicy="no-referrer"> 
                            <span class="rate">8.4 分</span> 
                        </a>
                        <div class="content"> <span class="header">中二病也要谈恋爱！剧场版</span> </div>
                    </div>
                    <div class="card"> 
                        <a class="image" href="/kehuan/13563.htm" title="魔神Z剧场版" target="_blank"> 
                            <img src="https://sc02.alicdn.com/kf/U0405b3550d4142a491551e40f703c74aG.jpg" referrerPolicy="no-referrer"> 
                            <span class="rate">6.5 分</span> 
                        </a>
                        <div class="content"> <span class="header">魔神Z剧场版</span> </div>
                    </div>
                    <div class="card"> 
                        <a class="image" href="/donghua/19942.htm" title="吹响悠风号剧场版：誓言的终章" target="_blank"> 
                            <img src="https://sc02.alicdn.com/kf/Uccf42e82c50a4ff685622220a0cfdefdn.jpg" referrerPolicy="no-referrer"> 
                            <span class="rate">9.2 分</span> 
                        </a>
                        <div class="content"> <span class="header">吹响悠风号剧场版：誓言的终章</span> </div>
                    </div>
                    <div class="card"> 
                        <a class="image" href="/donghua/4937.htm" title="新世纪福音战士新剧场版：破" target="_blank">
                            <img src="https://sf3-ttcdn-tos.pstatp.com/obj/game-files/4cd9a7657d6cbbc96d8adf0a9657e978" referrerPolicy="no-referrer"> 
                            <span class="rate">9.3 分</span> 
                        </a>
                        <div class="content"> <span class="header">新世纪福音战士新剧场版：破</span> </div>
                    </div>
                    <div class="card"> 
                        <a class="image" href="/donghua/17201.htm" title="白箱剧场版" target="_blank"> 
                            <img src="https://sc02.alicdn.com/kf/Uecc1bad5d4254242bf3167636521e7b18.jpg" referrerPolicy="no-referrer"> 
                        </a>
                        <div class="content"> <span class="header">白箱剧场版</span> </div>
                    </div>
                </div>
                <div class="ui minimal comments" style="max-width: 100%">
                    <h4 class="ui teal header dividing">
                        <div class="content">豆瓣评论</div>
                    </h4>
                    <div class="comment"> 
                        <a class="avatar"> <img src="https://img9.doubanio.com/icon/up185084570-8.jpg"> </a>
                        <div class="content"> 
                            <a class="author">Puff</a>
                            <div class="metadata"> <span class="date">2020-09-25 22:25:24</span> </div>
                            <div class="text">
                                片長災難，1小時半能結束的故事，硬拖到快2小時半，不知是不是因為京阿尼去年大火的關係，所以他們想保留下來所有的畫面，只能說這樣的大量保留讓原本單薄至極的文本更加冗長，但偏偏這是京阿尼的重新再出發之作，不能以平常水準去評斷它，所以我只能說，如果你是京阿尼、是紫羅蘭系列的鐵粉，可以帶著緬懷告別的心，去看這部又臭又長的完結篇，細膩又唯美的畫風與配樂依舊，但故事本身，與情感厚度，皆不如OVA與正篇，開頭洋洋灑灑的歷史史詩感，最後收尾卻無法達成這個厚度，可惜了，我本來還指望可以有《四海兄弟》的時代滄桑感，可惜編導丟給觀眾的，只有一串又一串的狗血與洋蔥，甚至還無法感動我，收的是圓滿啦，但我的內心好空虛啊…薇爾莉特與少佐的戀情，總算修成正果了，但也許不拍劇場版，保留這份遺憾會更好。
                            </div>
                        </div>
                    </div>
                    <div class="comment"> <a class="avatar"> <img src="https://img9.doubanio.com/icon/up1533122-5.jpg">
                        </a>
                        <div class="content"> <a class="author">UFOapproached</a>
                            <div class="metadata"> <span class="date">2020-09-20 09:52:12</span> </div>
                            <div class="text">
                                这次片长好像有两个多小时？情节拖沓看得不耐烦，周围都在哽咽抽泣我就纳闷哪里感动了？先不说在船上光是发动机波浪声那么响怎么可能听得见岸上老远有人喊的声音，也不说拖着两条金属臂怎么游泳的问题，就说京阿尼矫情够了吗？3星给作画和音乐。
                            </div>
                        </div>
                    </div>
                    <div class="comment"> <a class="avatar"> <img
                                src="https://img9.doubanio.com/icon/up210872634-3.jpg"> </a>
                        <div class="content"> <a class="author">0.5</a>
                            <div class="metadata"> <span class="date">2020-09-18 14:40:12</span> </div>
                            <div class="text"> 虽然我不懂爱，但是我爱得疯狂，爱到绝望。有这样的妹子相伴一生，想必是此生无憾了。愿时间治愈战争的伤痛，让我们欢送二人走向美好的明天。 </div>
                        </div>
                    </div>
                    <div class="comment"> <a class="avatar"> <img
                                src="https://img9.doubanio.com/icon/up3636182-202.jpg"> </a>
                        <div class="content"> <a class="author">AMY园</a>
                            <div class="metadata"> <span class="date">2020-09-27 07:45:09</span> </div>
                            <div class="text"> 就片子本身而言，冗长拖沓、硬煽情、作画水准下降 </div>
                        </div>
                    </div>
                    <div class="comment"> <a class="avatar"> <img
                                src="https://img9.doubanio.com/icon/up195323434-5.jpg"> </a>
                        <div class="content"> <a class="author">十四大蘑菇</a>
                            <div class="metadata"> <span class="date">2021-06-17 22:31:14</span> </div>
                            <div class="text"> 少佐的矫情是我没想到的🤔
                                或者说，剧场版没有处理好少佐的感情流露，也没有做到人设和动画版无缝衔接。跳海那段我尴尬得要扣脚趾。反倒是中间小男孩的刻画非常好。 </div>
                        </div>
                    </div>
                    <div class="comment"> <a class="avatar"> <img
                                src="https://img9.doubanio.com/icon/up4094157-1391.jpg"> </a>
                        <div class="content"> <a class="author">elimu</a>
                            <div class="metadata"> <span class="date">2020-09-21 22:00:21</span> </div>
                            <div class="text"> 不意外的结局，登场角色们某种意义上来说都是不到最后不坦诚的人。作画有硬伤，暂且不管；叙事结构有点问题，所以减一个星
                                火灾中离世的人的名字也都在staff列表里，也没什么特殊标记，感觉就像还在 </div>
                        </div>
                    </div>
                    <div class="comment"> <a class="avatar"> <img
                                src="https://img9.doubanio.com/icon/up182671718-3.jpg"> </a>
                        <div class="content"> <a class="author">。</a>
                            <div class="metadata"> <span class="date">2020-09-20 14:55:56</span> </div>
                            <div class="text">
                                中规中矩吧……emmmm。薇尔莉特也太忠犬……了。在外传里的她比这部好多了。而且我一直搞不懂这到底是父女爱还是情侣爱？战争的时候薇10少佐28，对小自己18岁的人的爱情吗…………但是画面音乐不错，分给画面音乐了。
                            </div>
                        </div>
                    </div>
                    <div class="comment"> <a class="avatar"> <img
                                src="https://img9.doubanio.com/icon/up35239432-11.jpg"> </a>
                        <div class="content"> <a class="author">Kix3_ガラクタ</a>
                            <div class="metadata"> <span class="date">2020-10-02 23:59:38</span> </div>
                            <div class="text"> 十分作画 故事减掉七星 看完连薇酱都感觉不到喜欢了 磨叽又压抑 一边让人忍不住在心里疯狂吐槽一边还赚我眼泪哭成狗 气死
                                白瞎TV版的立意和细腻的故事 用室友话讲就是涙狙いに来ているところが余りにも露骨で ベタで そこが一番気に食わない（哦我忘了表白子安 我的爱！！（10.11
                                昨天kamiki第一次annz说 可能因为职业病 从来看电影不哭 但是看这个哭不行了 给室友说 室友说是个人都得哭 笑死哈哈哈哈哈（跟亲友吐槽亲友表示对啊对啊
                                全程给少佐写的贼怂一直怂到告白 还是一副我就这怂样了你要不要吧 爆笑哈哈哈哈哈 这剧场版就是用来吐槽的吧 </div>
                        </div>
                    </div>
                    <div class="comment"> <a class="avatar"> <img
                                src="https://img9.doubanio.com/icon/up3961919-391.jpg"> </a>
                        <div class="content"> <a class="author">瑾朵朵</a>
                            <div class="metadata"> <span class="date">2021-06-13 21:32:35</span> </div>
                            <div class="text"> HE怎么都好说，但中间被气的狂锤椅子，本来他们两个结婚我是要出份子钱的，看到一半只想作为薇尔蕾特娘家人锤爆少佐（虽然肯定打不过薇尔蕾特
                            </div>
                        </div>
                    </div>
                    <div class="comment"> <a class="avatar"> <img
                                src="https://img9.doubanio.com/icon/up102236444-27.jpg"> </a>
                        <div class="content"> <a class="author">爱饭。</a>
                            <div class="metadata"> <span class="date">2020-09-20 21:23:03</span> </div>
                            <div class="text"> 心から　ずっと　愛してる 后半程在抽泣，太多人在哭了。你有想见的人吗？你有爱的人吗？坦诚一点好吗？
                                我曾去过见过灯塔，但那里没有人。大佐我真的get到了，家族由我来继承，你去自由生活吧。愚蠢的弟弟阿～ 最后想要同款邮票呜呜呜 </div>
                        </div>
                    </div>
                </div>
                <div id="comment-list" class="ui comments" style="padding-bottom: 30px"> <i class="anchor"
                        id="comment"></i>
                    <h3 class="ui teal header dividing"> <em data-emoji="cupid" class=" icon"></em>
                        <div class="content">评论列表</div>
                    </h3>
                    <div id="comments-wrapper"> </div> <span class="ui danger text"
                        style="color: #db2828 !important;">迅雷链接失效问题请不要留言评论，整站资源这么多，我不可能失效又补，自己想办法（利用一些网盘的离线功能，下载地址下面有下载说明，希望大家长点心先看看下载说明再来评论，谢谢合作）</span><span
                        class="ui purple text">禁止发布除网盘、磁力链接以外的任何第三方网址，违者删除账号永久封禁IP！</span>
                    <form class="ui mini form" id="reply-form"> 
                        <input type="hidden" name="topicId" value="20793">
                        <input type="hidden" name="topicType" value="0">
                        <div class="field"> 
                            <textarea name="content" id="content" rows="3" placeholder="撰写评论...最多250个字符，注意：在更影视距发布日期未超30天，留言区禁止发布一切第三方下载链接（包括网盘以及磁力）"></textarea>
                        </div>
                        <div class="inline fields" id="faceBox"> 
                            <a href="javascript:void(0)" class="face" title="表情"></a> <label>验证码：</label>
                            <div class="four wide field"> 
                                <input type="text" name="verifyCode"> 
                                <img class="verify-code" style="width: 100%;height: 30px" onclick="this.src = '/verifyCode?t='+ new Date().getTime()"> 
                            </div>
                        </div>
                        <div class="ui teal labeled submit icon button" id="sub-comment"> 
                            <i class="icon check"></i> 提交回复 
                        </div>
                    </form>
                    <script>
                        var mid = 20793;
                        var uid = null;
                        var nickname = null;
                        var $img = $('img[class="verify-code"]');
                        $('input[name=verifyCode]').on('click', function () {
                            if ($img.attr('src') == null) {
                                $($img.attr('src', '/verifyCode?t=' + new Date().getTime()));
                            }
                        })
                    </script>
                </div>
            </div>
        </div>
        {{include file='footer.html'}}
    </div>
</body>
</html>