<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
<meta name="keywords" content="{{$keywords}}" />
<meta name="description" content="{{$description}}" />
<meta name="robots" content="index,follow">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="applicable-device" content="pc,mobile">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<title>{{$title}}</title>
<link rel="canonical" href="http://downmov.com" />
<link rel="icon" type="image/png" href="/statics/cdn.jsdelivr.net/gh/bde4admin/v3/images/favicon.png">
<link rel="stylesheet" href="/statics/cdn.jsdelivr.net/gh/bde4admin/v3/css/smohan.face.css" type="text/css">
<link rel="stylesheet" href="/statics/cdn.jsdelivr.net/npm/fomantic-ui%402.8.3/dist/semantic.min.css">
<link rel="stylesheet" href="/statics/css/v3f120.css?v=8.8.1" />
<link rel="stylesheet" href="/statics/css/sliderd28d.css?v=1.8">
<script src="/statics/cdn.jsdelivr.net/npm/jquery%403.4.1/dist/jquery.min.js"></script>
<script src="/statics/cdn.jsdelivr.net/npm/jquery-base64%401.0.0/jquery.base64.min.js"></script>
<script src="/statics/cdn.jsdelivr.net/npm/jquery.cookie%401.4.1/jquery.cookie.js"></script>
<script src="/statics/js/smohan.face.js" charset="utf-8"></script>
<script src="/statics/js/util.v383a7.js?v=1.9"></script>
<script src="/statics/cdn.jsdelivr.net/npm/fomantic-ui%402.8.3/dist/semantic.min.js"></script>
<script src="/statics/cdn.jsdelivr.net/npm/hammerjs%402.0.8/hammer.min.js"></script>
<script src="/statics/cdn.jsdelivr.net/gh/bde4admin/v3/js/slider.js"></script>
{{include file='style.html'}}