<style>
    .dplayer-subtitle {
        display: none
    }
    video::cue {
        background-color: rgba(0, 0, 0, 0) !important;
        font-size: 1.1em !important;
        text-shadow: #222 0 0 8px, #222 0 0 8px, #222 0 0 8px, #222 0 0 8px !important
    }
    .ui.inverted.card,
    .ui.inverted.cards>.card {
        box-shadow: none
    }
    @media screen and (max-width:800px) {
        #ybad img {
            width: 100%
        }
    }
    footer p{
        text-align:center;
        margin-bottom:10px;
    }
</style>